.logo-container {
  justify-self: start;
}

.items-container {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  width: 185px;
  gap: 30px;
}

.items-container p {
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--text-navbar)
}

.items-container p:hover {
  color: var(--text-secondary);
}
