.carousel-sponsors-container {
  width: 100%;
  padding-top: 88px;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  flex-direction: row;
  gap: 55px;
  padding-inline: 48px;
  width: max-content;
  animation: scroll 250s linear infinite;
}

.carousel-sponsors-content {
  width: 145px; 
  height: 23.35px;
  position: relative;
}

.carousel-sponsors-content img {
  object-fit: contain; 
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 770px) {
  .carousel-arrow {
    display: block;
  }

  .carousel-content {
    margin: auto;
    padding-inline: 10px;
    gap: 41px;
    animation: none;
  }
}
