:root {
  --background-main: #FAFAFA;
  --text-color: #0E0E0E;
  --text-secondary: #0AAA9D;
  
  --background-secondary: #FFFFFF;
  --text-buttons: #FFFFFF;
  --background-buttons: #0AAA9D;
  --background-light: #0AAA9D4D;
  --background-dark: #212121;

  
  --tex-navbar-color: #666666;
}

body {
 
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}


* {
  padding: 0;
  margin: 0;
  /* dislplay:flex; 
  justify-content:center */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
  }
}
