.logo-container {
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

.logo-text {
    text-transform: uppercase;
    font-weight: 800;
}

.logo-icon {
    width: 18px;
    height: 18px;
    border-radius: 5px;
}
