.home-container {
  height: 100vh;
  background-image: url("/home/background-image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text-container {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  width: 581px;
  height: 275px;
  padding-top: 50px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  /* background: blue; */
}

.home-text-secondary {
  color: var(--text-secondary);
}

@media (max-width: 770px) {
  .home-container {
    height: 500px;
  }

  .home-text {
    width: 285px;
    font-size: 26px;
    font-weight: 700;
    margin: auto;

    text-align: center;
    position: static;
  }
}
