
  .button-section-container {
    height: 333px;
    background-image: url("/mask-group.png");
    /* background-image: url("/pre-footer/bg-prefooter.jpeg"); */
    background-position: center 30%; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.button-section-flexbox {
    width: 100%;
    padding-inline: 255px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.button-section-text {
    width: 600px;
    color: white;
    font-weight: 500;
    font-size: 29px;
}
