.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
  background: var(--background-light);
  width: 100%;
}

.navbar-items-container {
  display: flex;
  width: 980px;
  justify-content: space-between;
  align-items: center;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 97px;
}

@media (max-width: 770px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-items-container {
    padding-inline: 24px;
  }

  .menu-icon {
    width: 24px;
  }
}
